@use '../../../../../assets/styles/common' as *;
@use '../../../../../assets/styles/responsive' as *;

.process-page {
  padding: $spacing-6; /* 24px */
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacing-4;
  
  h2 {
    margin: 0;
    font-weight: 600;
  }
}

nz-card {
  border-radius: $border-radius-lg;
  background-color: $neutral-100;
}

.form-actions {
  display: flex;
  gap: $spacing-4;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
